.App{
    display: flex;
    flex-direction: row;
    height: 200vh;
}

.players{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.player-item{
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60%;
}

.inputs{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
